Options -Indexes

Require all denied

<FilesMatch "\.(jpe?g|png|webp|gif)$">
  Require all granted
</FilesMatch>

<FilesMatch "\.(php|phtml|phar|cgi|pl|shtml|html?|svg|xml|js|css)$">
  Require all denied
  Deny from all
</FilesMatch>
